<!-- BEGIN_INCLUDE(${muleConnectorName.toLowerCase()}:my-processor) -->
    <${muleConnectorName.toLowerCase()}:my-processor content="#[map-payload:content]" />
<!-- END_INCLUDE(${muleConnectorName.toLowerCase()}:my-processor) -->